* {
  box-sizing: border-box;
}
.clear {
  clear: both;
}
/*.row{
  display: flex;
  flex-wrap: wrap;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/
a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.map-hover {
  background: #2EA7E0;
  color: #FFF !important;
}
.border-bottom-dash {
  border-bottom: 1px solid #2660AD;
  border-style: dashed;
}
/*Header*/
header {
  margin: 0 auto;
}
header .top-header {
  margin: 0 auto;
}
header .top-header .logo {
  float: left;
  padding: 10px 0 5px;
}
header .top-header .header-button {
  float: right;
}
header .top-header .header-button a {
  color: #FFF;
  background: #2660AD;
  padding: 5px 15px;
  margin-top: 12px;
  position: relative;
}
header .top-header .header-button a:hover {
  background: #023982;
  -webkit-transition: all 0.2s;
  /* Safari */
  transition: all 0.2s;
}
header .top-header .header-button a span {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
header .top-header .header-button .mail-icon {
  width: 22px;
  vertical-align: sub;
  margin-right: 10px;
  vertical-align: middle;
}
/*Menu*/
.menu {
  clear: both;
}
.menu ul {
  background: #F1F7F7;
  list-style-type: none;
  text-align: center;
}
.menu ul li {
  color: #f1f1f1;
  display: inline-block;
}
.menu ul li a {
  padding: 10px 50px;
  text-decoration: none;
  color: #2660AD;
  display: block;
}
.menu ul li a .menu-icon {
  width: 22px;
  vertical-align: sub;
  margin-right: 10px;
}
.menu ul li a .menu-text {
  font-size: 16px;
  font-weight: bold;
}
/*Banner*/
#banner .top-banner {
  position: relative;
  margin-bottom: -10px;
}
#banner .top-banner .banner-img {
  width: 100%;
}
#banner .top-banner .caption {
  position: absolute;
  right: 15%;
  top: 50px;
  left: 15%;
  color: #231815;
  text-align: center;
}
#banner .top-banner .caption .big-slogan {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
#banner .top-banner .caption .smal-slogan {
  margin-top: 15px;
  font-size: 13px;
  font-weight: bold;
}
/*Member_login*/
#member-login .wrap_member_login {
  padding: 60px;
  background: #DD332D;
  text-align: center;
}
#member-login .wrap_member_login .text {
  font-size: 14px;
  margin-bottom: 10px;
  color: #FFF;
}
#member-login .wrap_member_login .button {
  border: 1px solid #FFF;
  padding: 10px 100px;
  color: #FFF;
  font-size: 17px;
}
/*News*/
#news {
  padding: 70px 0;
  text-align: center;
}
#news .title {
  margin-bottom: 15px;
}
#news .title .title-main {
  font-weight: bold;
  font-size: 30px;
}
#news .title .title-description {
  font-size: 13px;
  font-weight: bold;
}
#news .wrap-news-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vw;
}
#news .wrap-news-item .item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px 20px;
}
#news .wrap-news-item .item .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #231815;
}
#news .wrap-news-item .item .inner .item-date,
#news .wrap-news-item .item .inner .item-title {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
#news .wrap-news-item .item .inner .item-date {
  background: #F1F7F7;
  border-top: 1px solid #231815;
}
#news .wrap-news-item .item .inner .wrap-item-title {
  min-height: 55px;
  position: relative;
}
#news .wrap-news-item .item .inner .wrap-item-title .item-title {
  padding-bottom: 20px;
  position: absolute;
}
#news .news-button {
  width: 200px;
  height: 30px;
  background: #C9CACA;
  margin: 0 auto;
  margin-top: 20px;
}
#news .news-button a {
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
}
/*monitoring-service*/
#monitoring-service .partner-img {
  position: relative;
  display: grid;
}
#monitoring-service .partner-img .main-partner {
  width: 100%;
  display: grid;
}
#monitoring-service .partner-img .inner-partner .img-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  width: 50vw;
}
#monitoring-service .partner-img .inner-partner .text-inner {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #2660AD;
}
#monitoring-service .partner-img .inner-partner .shape-arrow {
  position: absolute;
  left: 74%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  border-top: 7px solid transparent;
  border-left: 12px solid #2660AD;
  border-bottom: 7px solid transparent;
}
/*Partner*/
#partner {
  background: #F1F7F7;
}
#partner .partner-map {
  padding: 65px 0;
  /* .map-content{
      display: flex;
      flex-wrap: wrap;
      text-align: right;
      padding: 0 10%;

      .map-img{
        width: 50%;
        padding-right: 20px;
        .mapify-popOver-arrow{
          display: none;
        }
      }
      .map-button{
        width: 50%;
        padding-left: 20px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        margin-top: 70px;
        cursor: pointer;
        position: relative;

        li.wrap-button{
          flex: 0 0 25%;
          max-width: 25%;
          color: @gray-dark;
          border: 1px solid @gray-dark;
          font-size: 15px;
          width: 120px;
          height: 80px;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          transition: 0.3s all;
          margin-right: 15px;

            &:hover{
              background: @blue-map;
              color: white;
            }

        }
        .list-button{
          position: absolute;
          bottom: 35px;
          right: 72px;
          width: 273px!important;
          height: 50px!important;
          flex: 0 0 50%!important;
          max-width: 50%!important;
        }

      }
    }*/
}
#partner .partner-map .map-title {
  text-align: center;
}
#partner .partner-map .map-title .title {
  font-size: 30px;
  font-weight: bold;
}
#partner .partner-map .map-title .description {
  font-size: 13px;
}
#partner .partner-map .map-content {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  padding: 0 10%;
}
#partner .partner-map .map-content .map-img {
  width: 50%;
  padding-right: 20px;
}
#partner .partner-map .map-content .map-img .mapify-popOver-arrow {
  display: none;
}
#partner .partner-map .map-content .map-button {
  width: 50%;
  padding-left: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  margin-top: 70px;
}
#partner .partner-map .map-content .map-button .wrap-button {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
#partner .partner-map .map-content .map-button .wrap-button a {
  color: #231815;
  border: 1px solid #231815;
  font-size: 15px;
  width: 120px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s all;
}
#partner .partner-map .map-content .map-button .wrap-button a:hover {
  background: #2EA7E0;
  color: white;
}
#partner .partner-map .map-content .map-button .list-button {
  padding-top: 20px;
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
#partner .partner-map .map-content .map-button .list-button a {
  width: 273px;
  height: 50px;
}
/*Footer*/
footer {
  background: #2660AD;
  padding: 50px 125px 230px;
  color: #FFF;
  font-size: 15px;
  position: relative;
}
footer .footer-left {
  float: left;
  margin-bottom: 15px;
}
footer .footer-left .top-text {
  font-size: 14px;
  margin-bottom: 15px;
}
footer .footer-left .kanto-text {
  font-weight: bold;
  font-size: 13px;
}
footer .footer-left img {
  width: 90%;
}
footer .footer-left .post-text {
  margin: 20px 0 10px;
}
footer .footer-left .map-button {
  border: 1px solid #FFF;
  color: #FFF;
  padding: 0 10px;
}
footer .footer-right {
  float: right;
}
footer .footer-right .fl-wrap-button {
  text-align: right;
}
footer .footer-right .fl-wrap-button a {
  padding: 2px 50px;
  color: #FFF;
  border: 1px solid #FFF;
}
footer .footer-right .fl-wrap-button a.fl-left-button {
  float: left;
  margin-right: 2vw;
}
footer .footer-right .fl-wrap-button a.fl-right-button {
  float: right;
}
footer .footer-right .middle-text {
  margin: 30px 0 25px 0;
}
footer .footer-right .copyright {
  font-size: 10px;
}
footer .up-top {
  right: 7vw;
  position: absolute;
  top: -20px;
}
footer .up-top a {
  font-size: 13px;
  color: #FFF;
  background: #2660AD;
  padding: 5px 30px;
}
#fadein-banner {
  font-weight: bold;
  animation-name: fadein-01;
  animation-duration: 3s;
}
#header-text-block {
  background: #2660AD;
}
#header-text-block .wrap-header-txt {
  padding: 80px 30px;
}
#header-text-block .wrap-header-txt .title {
  font-size: 21px;
  color: #FFF;
  font-weight: bold;
}
#header-text-block .wrap-header-txt .desc {
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
}
#header-text-block .wrap-header-btn {
  padding: 100px 80px;
  background: #FFF;
}
#header-button-block {
  border-bottom: 1px solid #2660AD;
}
#header-button-block .wrap-header-btn {
  padding: 80px 0 45px 0;
  text-align: center;
}
#header-button-block .wrap-header-btn .header-content-btn {
  padding: 20px 40px;
  border: 1px solid #2660AD;
  color: #2660AD;
  border-radius: 5px;
  margin: 0 20px;
  text-align: center;
}
#header-button-block .wrap-header-btn .header-content-btn:hover {
  background: #2660AD;
  color: #FFF;
}
#block-footer-button {
  border-top: 1px solid #2660AD;
}
#block-footer-button .wrap-footer-btn {
  padding: 50px 0 80px;
  text-align: center;
}
#block-footer-button .wrap-footer-btn .footer-content-btn {
  padding: 20px 40px;
  border: 1px solid #2660AD;
  color: #2660AD;
  border-radius: 5px;
  margin: 0 20px;
  text-align: center;
}
#block-footer-button .wrap-footer-btn .footer-content-btn:hover {
  background: #2660AD;
  color: #FFF;
}
@keyframes fadein-01 {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*Enkaku content*/
#enkaku-content .top-date {
  text-align: center;
  padding: 60px 0 100px 0;
  border-bottom: 1px solid #2660AD;
  border-style: dashed;
}
#enkaku-content .top-date p {
  font-size: 15px;
  color: #2EA7E0;
  letter-spacing: 2px;
}
#enkaku-content .wrap-content-item .item {
  padding: 35px 0;
  border-bottom: 1px solid #2660AD;
  border-style: dashed;
}
#enkaku-content .wrap-content-item .item .container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 110px;
}
#enkaku-content .wrap-content-item .item .container p {
  font-size: 17px;
}
#enkaku-content .wrap-content-item .item .container .left-block {
  min-width: 110px;
}
#enkaku-content .wrap-content-item .item .container .right-block {
  padding-left: 60px;
}
#enkaku-content .wrap-content-item .foot-date {
  text-align: center;
  padding: 100px 0 90px 0;
}
/*Syusi content*/
#syusi-content {
  padding: 0px 80px;
}
#syusi-content .syusi-title {
  padding: 60px 0;
}
#syusi-content .syusi-title h2 {
  font-size: 50px;
  color: #2660AD;
}
#syusi-content .syusi-text .text-block {
  margin-bottom: 40px;
}
#syusi-content .syusi-text .text-block p {
  font-size: 21px;
}
#syusi-content .syusi-text .text-block:last-child {
  margin-bottom: 90px;
}
/*zigyonaiyo-content*/
#zigyonaiyo-content .zigyou-img img {
  border-bottom: 1px solid #2660AD;
}
#zigyonaiyo-content .zigyou-block {
  border-bottom: 1px solid #2660AD;
}
#zigyonaiyo-content .zigyou-block .container {
  padding: 50px 110px;
}
#zigyonaiyo-content .zigyou-block .container .title {
  font-size: 18px;
  color: #2660AD;
  margin-bottom: 50px;
}
#zigyonaiyo-content .zigyou-block .container .content .top-content {
  margin-bottom: 20px;
}
#zigyonaiyo-content .zigyou-block .edu-wrap .container {
  padding: 65px 110px;
  display: flex;
}
#zigyonaiyo-content .zigyou-block .edu-wrap .container .button {
  flex-basis: 370px;
  margin-right: 20px;
}
#zigyonaiyo-content .zigyou-block .edu-wrap .container .button a {
  padding: 15px;
  border: 1px solid #2660AD;
  color: #2660AD;
  min-width: 225px;
  text-align: center;
  background: #FFF;
}
#zigyonaiyo-content .zigyou-block .edu-wrap .container .text {
  margin-left: 20px;
  padding-right: 140px;
}
#zigyonaiyo-content .zigyou-block .edu-wrap .type-1 {
  background-color: #F1F7F7;
}
#zigyonaiyo-content .zigyou-block .edu-wrap .type-2 {
  background-color: #CBE0E0;
}
#zigyonaiyo-content .zigyou-block:last-child {
  border-bottom: none;
}
/*Katsudo content*/
#katsudo-content {
  padding: 70px 0 100px;
}
#katsudo-content .container {
  padding: 0 110px;
}
#katsudo-content .container .katsudo-title {
  margin-bottom: 40px;
}
#katsudo-content .container .katsudo-title p {
  font-size: 18px;
  color: #2660AD;
}
#katsudo-content .container .katsudo-table table {
  width: 100%;
  font-size: 16px;
  color: #2660AD;
}
#katsudo-content .container .katsudo-table table tr th {
  border: 1px solid #2660AD;
  text-align: center;
  padding: 20px;
}
#katsudo-content .container .katsudo-table table tr td {
  border: 1px solid #2660AD;
  padding: 20px;
  vertical-align: top;
}
#katsudo-content .container .katsudo-table table tr td img {
  max-width: 40px;
}
#katsudo-content .container .katsudo-table table tr td.td-type-1 {
  color: #FFF;
  background-color: #52B4E1;
}
#katsudo-content .container .katsudo-table table tr td.td-type-2 {
  color: #FFF;
  background-color: #96C3CC;
}
#katsudo-content .container .katsudo-table table tr td.td-type-3 {
  color: #2660AD;
  background-color: #D8EDF7;
}
#katsudo-content .container .katsudo-table table tr td.td-type-4 {
  color: #2660AD;
  background-color: #D9EBEE;
}
#katsudo-content .container .katsudo-table table tr td.width-11 {
  width: 11%;
  text-align: center;
}
#katsudo-content .container .katsudo-table table tr td .rotate {
  transform: rotate(90deg);
}
#katsudo-content .container .katsudo-table table tr .text-center {
  text-align: center;
}
#katsudo-content .container .footer-text {
  padding: 15px 0 0 5px;
}
#katsudo-content .container .footer-text p {
  font-size: 13px;
  color: #2660AD;
}
/*Katudozisseki2 content*/
#katudozisseki2-content .top-content {
  padding: 65px 0px;
  text-align: center;
  border-bottom: 1px solid #2660AD;
  border-style: dashed;
}
#katudozisseki2-content .top-content a {
  font-size: 15px;
  color: #27BAEE;
}
#katudozisseki2-content .top-content p {
  letter-spacing: 3px;
}
#katudozisseki2-content .top-content p:first-child {
  margin-bottom: 20px;
}
#katudozisseki2-content .main-content .container {
  padding: 0 110px;
}
#katudozisseki2-content .main-content .table-item {
  padding: 45px 0px;
  border-bottom: 1px solid #2660AD;
  border-style: dashed;
}
#katudozisseki2-content .main-content .table-item .title {
  font-size: 18px;
  color: #2660AD;
  margin-bottom: 30px;
}
#katudozisseki2-content .main-content .table-item table {
  width: 100%;
  font-size: 16px;
  color: #2660AD;
}
#katudozisseki2-content .main-content .table-item table tr th {
  border: 1px solid #2660AD;
  text-align: center;
  padding: 20px;
}
#katudozisseki2-content .main-content .table-item table tr td {
  border: 1px solid #2660AD;
  padding: 20px;
  vertical-align: top;
}
#katudozisseki2-content .main-content .table-item table tr td.td-type-1 {
  background-color: #F1F7F7;
}
#katudozisseki2-content .main-content .table-item table tr td.text-right {
  text-align: right;
}
#katudozisseki2-content .wrap-pagination {
  padding: 0 110px;
}
#katudozisseki2-content .wrap-pagination .pagination {
  font-size: 14px;
  color: #2660AD;
  padding: 25px 160px;
  display: flex;
  justify-content: space-between;
}
#katudozisseki2-content .wrap-pagination .pagination .page-list ul {
  position: relative;
}
#katudozisseki2-content .wrap-pagination .pagination .page-list ul li {
  display: inline-block;
}
#katudozisseki2-content .wrap-pagination .pagination .page-list ul li a {
  padding: 2px 10px;
  border: 1px solid #2660AD;
  color: #2660AD;
}
#katudozisseki2-content .wrap-pagination .pagination .page-list ul:before {
  content: url(../images/arrow-left.svg);
  display: block;
  height: 10px;
  width: 10px;
  top: 50%;
  margin-top: -10px;
  left: -25px;
  position: absolute;
}
#katudozisseki2-content .wrap-pagination .pagination .page-list ul:after {
  content: url(../images/arrow-right.svg);
  display: block;
  height: 10px;
  width: 10px;
  top: 50%;
  margin-top: -10px;
  right: -25px;
  position: absolute;
}
#katudozisseki2-content .bottom-content {
  padding: 55px 0px 80px;
  text-align: center;
}
#katudozisseki2-content .bottom-content a {
  font-size: 15px;
  color: #27BAEE;
}
#katudozisseki2-content .bottom-content p {
  letter-spacing: 3px;
}
#katudozisseki2-content .bottom-content p:first-child {
  margin-bottom: 20px;
}
/*kumiaiinitiran content*/
#gmap {
  position: relative;
}
#gmap iframe {
  width: 100%;
}
#kumiaiinitiran-content .container {
  padding: 60px 110px;
}
#kumiaiinitiran-content .container .top-content .top-title {
  text-align: center;
  color: #2660AD;
  font-size: 17px;
  margin-bottom: 35px;
}
#kumiaiinitiran-content .container .top-content .top-title span {
  margin-right: 5px;
}
#kumiaiinitiran-content .container .top-content .top-title span img {
  width: 23px;
  vertical-align: middle;
}
#kumiaiinitiran-content .container .top-content .top-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}
#kumiaiinitiran-content .container .top-content .top-button a {
  width: 20%;
  padding: 20px 40px;
  border: 1px solid #2660AD;
  color: #2660AD;
  border-radius: 5px;
  margin: 0 20px;
  text-align: center;
  padding: 15px 40px;
  margin-bottom: 30px;
}
#kumiaiinitiran-content .container .top-content .top-button a:hover {
  background: #2660AD;
  color: #FFF;
}
#kumiaiinitiran-content .container .main-content .wrap-item .title {
  font-size: 16px;
  color: #2660AD;
  position: relative;
  margin: 50px 0;
}
#kumiaiinitiran-content .container .main-content .wrap-item .title:before {
  content: url(../images/line.svg);
  position: absolute;
  width: 100%;
  top: -20px;
  left: 0;
}
#kumiaiinitiran-content .container .main-content .wrap-item .title:after {
  content: url(../images/line.svg);
  position: absolute;
  width: 100%;
  bottom: -12px;
  left: 0;
}
#kumiaiinitiran-content .container .main-content .wrap-item .location-box {
  border: 1px solid #2660AD;
}
#kumiaiinitiran-content .container .main-content .wrap-item .location-box .box-item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  border-bottom: 1px solid #2660AD;
  border-style: dashed;
}
#kumiaiinitiran-content .container .main-content .wrap-item .location-box .box-item:last-child {
  border-bottom: none;
}
#kumiaiinitiran-content .container .main-content .wrap-item .location-box .box-item .name {
  font-size: 16px;
  color: #231815;
  min-width: 20%;
}
#kumiaiinitiran-content .container .main-content .wrap-item .location-box .box-item .desc {
  font-size: 16px;
  color: #2660AD;
}
#kumiaiinitiran-content .container .main-content .wrap-item .last-line {
  opacity: 0.2;
  padding: 30px 0 50px 0;
}
#kumiaiinitiran-content .container .bottom-content .top-title {
  text-align: center;
  color: #2660AD;
  font-size: 17px;
  margin-bottom: 35px;
}
#kumiaiinitiran-content .container .bottom-content .top-title span {
  margin-right: 5px;
}
#kumiaiinitiran-content .container .bottom-content .top-title span img {
  width: 23px;
  vertical-align: middle;
}
#kumiaiinitiran-content .container .bottom-content .top-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}
#kumiaiinitiran-content .container .bottom-content .top-button a {
  width: 20%;
  padding: 20px 40px;
  border: 1px solid #2660AD;
  color: #2660AD;
  border-radius: 5px;
  margin: 0 20px;
  text-align: center;
  padding: 15px 40px;
  margin-bottom: 30px;
}
#kumiaiinitiran-content .container .bottom-content .top-button a:hover {
  background: #2660AD;
  color: #FFF;
}
#kumiaiinitiran-content .container .bottom-content .top-title {
  margin-top: 20px;
}
#kumiaiinitiran-content .container .bottom-content .top-button {
  margin-bottom: 30px;
}
