@import "style";
.header-content{
  .header-text{
    background: @blue-base;

    .wrap-header-txt{
      padding: 80px 30px;

      .title{
        font-size: 21px;
        color: @white;
        font-weight: bold;
      }
      .desc{
        font-size: 15px;
        font-weight: bold;
        color: @white;
      }
    }

    .wrap-header-btn{
      padding: 100px 80px;
      background: @white;
    }
  }
  .header-button{
    border-bottom: 1px solid @blue-base;
    .wrap-header-btn{
      padding: 80px 0 45px 0;
      text-align: center;

      .header-content-btn{
        padding: 20px 40px;
        border: 1px solid @blue-base;
        color: @blue-base;
        border-radius: 5px;
        margin: 0 20px;

        &:hover{
          background: @blue-base;
          color: @white;
        }
      }
    }
  }
}
.enkaku-content{
  .top-date{
    text-align: center;
    padding: 60px 0 100px 0;
    border-bottom: 1px solid @blue-base;
    border-style: dashed;

    p{
      font-size: 15px;
      color: @blue-map;
    }
  }
  .wrap-content-item{
    .item{
      padding: 35px 0 35px 100px;
    }
  }
}
.footer-content{
  .footer-button{
    border-top: 1px solid @blue-base;

    .wrap-footer-btn{
      padding: 50px 0 80px;
      text-align: center;

      .footer-content-btn{
        .header-content .header-button .wrap-header-btn .header-content-btn;
      }
    }
  }
}

