//== Colors Variables
@blue-base: #2660AD;
@blue-light: #F1F7F7;
@blue-map: #2EA7E0;
@gray-dark: #231815;
@gray: #C9CACA;
@red-color: #DD332D;
@white: #FFF;

* {
  box-sizing: border-box;
}
.clear{
  clear: both;
}
/*.row{
  display: flex;
  flex-wrap: wrap;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

a{
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.map-hover{
  background: @blue-map;
  color: @white!important;
}
.border-bottom-dash{
  border-bottom: 1px solid @blue-base;
  border-style: dashed;
}


/*Header*/
header{
  margin: 0 auto;

  .top-header{
    margin: 0 auto;

    .logo{
      float: left;
      padding: 10px 0 5px;
    }
    .header-button{
      float: right;

      a{
        color: @white;
        background: @blue-base;
        padding: 5px 15px;
        margin-top: 12px;
        position: relative;

        &:hover{
          background: #023982;
          -webkit-transition: all 0.2s; /* Safari */
          transition: all 0.2s;
        }
        span{
          font-size: 15px;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .mail-icon{
        width: 22px;
        vertical-align: sub;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}



/*Menu*/
.menu{
  clear: both;
  ul{
    background: @blue-light;
    list-style-type: none;
    text-align: center;

    li{
      color: #f1f1f1;
      display: inline-block;

      a{
        padding: 10px 50px;
        text-decoration: none;
        color: @blue-base;
        display: block;

        .menu-icon{
          width: 22px;
          vertical-align: sub;
          margin-right: 10px;
        }
        .menu-text{
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

/*Banner*/
#banner{
  .top-banner{
    position: relative;
    margin-bottom: -10px;

    .banner-img{
      width: 100%;
    }
    .caption{
      position: absolute;
      right: 15%;
      top: 50px;
      left: 15%;
      color: @gray-dark;
      text-align: center;

      .big-slogan{
        //font-size: 1.8vw;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 5px;
      }
      .smal-slogan{
        margin-top: 15px;
        //font-size: 0.8vw;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}

/*Member_login*/
#member-login{
  .wrap_member_login{
    padding: 60px;
    background: @red-color;
    text-align: center;

    .text{
      //font-size: 0.9vw;
      font-size: 14px;
      margin-bottom: 10px;
      color: @white;
    }
    .button{
      border: 1px solid @white;
      padding: 10px 100px;
      color: @white;
      //font-size: 1.1vw;
      font-size: 17px;
    }
  }
}
/*News*/
#news{
  padding: 70px 0;
  text-align: center;
  .title{
    margin-bottom: 15px;

    .title-main{
      //font-size: 1.2vw;
      font-weight: bold;
      font-size: 30px;
    }
    .title-description{
      font-size: 13px;
      font-weight: bold;
    }
  }

  .wrap-news-item{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;

    .item{
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 15px 20px;

      .inner{
        position: relative;
        display: flex;
        flex-direction: column;
        border: 1px solid @gray-dark;

        .item-date,
        .item-title{
          font-size: 13px;
          font-weight: bold;
          text-align: left;
          padding: 10px;
        }
        .item-date{
          background: @blue-light;
          border-top: 1px solid @gray-dark;
        }
        .wrap-item-title{
          min-height: 55px;
          position: relative;

          .item-title{
            padding-bottom: 20px;
            position: absolute;
          }
        }
      }
    }
  }

  .news-button{
    width: 200px;
    height: 30px;
    background: @gray;
    margin: 0 auto;
    margin-top: 20px;

    a{
      color: @white;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

/*monitoring-service*/
#monitoring-service{
  .partner-img{
    position: relative;
    display: grid;

    .main-partner{
      width: 100%;
      display: grid;
    }
    .inner-partner{
      .img-inner{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        width: 50vw;
      }
      .text-inner{
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        font-size: 20px;
        font-weight: bold;
        color: @blue-base;
      }
      .shape-arrow{
        position: absolute;
        left: 74%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        border-top: 7px solid transparent;
        border-left: 12px solid @blue-base;
        border-bottom: 7px solid transparent;
      }
    }
  }
}


/*Partner*/
#partner{
  background: @blue-light;

  .partner-map{
    padding: 65px 0;

    .map-title{
      text-align: center;
      //margin-bottom: 20px;

      .title{
        font-size: 30px;
        font-weight: bold;
      }
      .description{
        font-size: 13px;
      }
    }
   /* .map-content{
      display: flex;
      flex-wrap: wrap;
      text-align: right;
      padding: 0 10%;

      .map-img{
        width: 50%;
        padding-right: 20px;
        .mapify-popOver-arrow{
          display: none;
        }
      }
      .map-button{
        width: 50%;
        padding-left: 20px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        margin-top: 70px;
        cursor: pointer;
        position: relative;

        li.wrap-button{
          flex: 0 0 25%;
          max-width: 25%;
          color: @gray-dark;
          border: 1px solid @gray-dark;
          font-size: 15px;
          width: 120px;
          height: 80px;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          transition: 0.3s all;
          margin-right: 15px;

            &:hover{
              background: @blue-map;
              color: white;
            }

        }
        .list-button{
          position: absolute;
          bottom: 35px;
          right: 72px;
          width: 273px!important;
          height: 50px!important;
          flex: 0 0 50%!important;
          max-width: 50%!important;
        }

      }
    }*/

    .map-content{
      display: flex;
      flex-wrap: wrap;
      text-align: right;
      padding: 0 10%;

      .map-img{
        width: 50%;
        padding-right: 20px;
        .mapify-popOver-arrow{
          display: none;
        }
      }
      .map-button{
        width: 50%;
        padding-left: 20px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        margin-top: 70px;

        .wrap-button{
          flex: 0 0 33.33%;
          max-width: 33.33%;

          a{
            color: @gray-dark;
            border: 1px solid @gray-dark;
            font-size: 15px;
            width: 120px;
            height: 80px;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            transition: 0.3s all;

            &:hover{
              background: @blue-map;
              color: white;
            }
          }
        }
        .list-button{
          padding-top: 20px;

          a{
            width: 273px;
            height: 50px;
          }

          flex: 0 0 66.66%;
          max-width: 66.66%;
        }

      }
    }
  }
}

  /*Footer*/
footer{
  background: @blue-base;
  padding: 50px 125px 230px;
  color: @white;
  font-size: 15px;
  position: relative;

  .footer-left{
    float: left;
    margin-bottom: 15px;

    .top-text{
      font-size: 14px;
      margin-bottom: 15px;
    }
    .kanto-text{
      font-weight: bold;
      font-size: 13px;
    }
    img{
      width: 90%;
    }
    .post-text{
      margin: 20px 0 10px;
    }
    .map-button{
      border: 1px solid @white;
      color: @white;
      padding: 0 10px;
    }
  }

  .footer-right{
    float: right;

    .fl-wrap-button{
      text-align: right;

      a{
        padding: 2px 50px;
        color: @white;
        border: 1px solid @white;
        //margin-right: 20px;

        &.fl-left-button{
          float: left;
          margin-right: 2vw;
        }
        &.fl-right-button{
          float: right;
        }
      }
    }
    .middle-text{
      margin: 30px 0 25px 0;
    }
    .copyright{
      font-size: 10px;
    }
  }

  .up-top{
    //text-align: left;
    right: 7vw;
    position: absolute;
    top: -20px;
    a{
      font-size: 13px;
      color: @white;
      background: @blue-base;
      padding: 5px 30px;
    }
  }
}

#fadein-banner {
  font-weight: bold;
  animation-name: fadein-01;
  animation-duration: 3s;
}

#header-text-block{
  background: @blue-base;

  .wrap-header-txt{
    padding: 80px 30px;

    .title{
      font-size: 21px;
      color: @white;
      font-weight: bold;
    }
    .desc{
      font-size: 15px;
      font-weight: bold;
      color: @white;
    }
  }

  .wrap-header-btn{
    padding: 100px 80px;
    background: @white;
  }
}

#header-button-block{
  border-bottom: 1px solid @blue-base;
  .wrap-header-btn{
    padding: 80px 0 45px 0;
    text-align: center;

    .header-content-btn{
      padding: 20px 40px;
      border: 1px solid @blue-base;
      color: @blue-base;
      border-radius: 5px;
      margin: 0 20px;

      &:hover{
        background: @blue-base;
        color: @white;
      }
    }
  }
}

#block-footer-button{
  border-top: 1px solid @blue-base;

  .wrap-footer-btn{
    padding: 50px 0 80px;
    text-align: center;

    .footer-content-btn{
      #header-button-block .wrap-header-btn .header-content-btn;
    }
  }
}

@keyframes fadein-01 {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/*Enkaku content*/
#enkaku-content{
  .top-date{
    text-align: center;
    padding: 60px 0 100px 0;
    .border-bottom-dash;

    p{
      font-size: 15px;
      color: @blue-map;
      letter-spacing: 2px;
    }
  }
  .wrap-content-item{
    .item{
      padding: 35px 0;
      .border-bottom-dash;

      .container{
        display: flex;
        flex-wrap: wrap;
        padding: 0 110px;

        p{
          font-size: 17px;
        }
        .left-block{
          min-width: 110px;
        }
        .right-block{
          padding-left: 60px;
        }
      }
    }
    .foot-date{
      text-align: center;
      padding: 100px 0 90px 0;
    }
  }
}

/*Syusi content*/
#syusi-content{
  padding: 0px 80px;

  .syusi-title{
    padding: 60px 0;

    h2{
      font-size: 50px;
      color: @blue-base;
    }
  }

  .syusi-text{
    .text-block{
      margin-bottom: 40px;

      p{
        font-size: 21px;
      }
      &:last-child{
        margin-bottom: 90px;
      }
    }

  }
}

/*zigyonaiyo-content*/
#zigyonaiyo-content{
  .zigyou-img{
    img{
      border-bottom: 1px solid @blue-base;
    }
  }
  .zigyou-block{
    border-bottom: 1px solid @blue-base;

    .container{
      padding: 50px 110px;

      .title{
        font-size: 18px;
        color: @blue-base;
        margin-bottom: 50px;
      }

      .content{
        .top-content{
          margin-bottom: 20px;
        }
      }
    }
    .edu-wrap{
      .container{
        padding: 65px 110px;
        display: flex;

        .button{
          flex-basis: 370px;
          margin-right: 20px;
          a{
            padding: 15px;
            border: 1px solid @blue-base;
            color: @blue-base;
            min-width: 225px;
            text-align: center;
            background: @white;
          }
        }
        .text{
          margin-left: 20px;
          padding-right: 140px;
        }
      }
      .type-1{
        background-color: #F1F7F7;
      }
      .type-2{
        background-color: #CBE0E0;
      }
    }
    &:last-child{
      border-bottom: none;
    }
  }
}

/*Katsudo content*/
#katsudo-content{
  padding: 70px 0 100px;

  .container{
    padding: 0 110px;

    .katsudo-title{
      margin-bottom: 40px;

      p{
        font-size: 18px;
        color: @blue-base;
      }
    }
    .katsudo-table{
      table{
        width: 100%;
        font-size: 16px;
        color: @blue-base;

        tr{
          @border: 1px solid @blue-base;
          @padding: 20px;
          th{
            border: @border;
            text-align: center;
            padding: @padding;
          }
          td{
            border: @border;
            padding: @padding;
            vertical-align: top;

            img{
              max-width: 40px;
            }
            &.td-type-1{
              color: @white;
              background-color: #52B4E1;
            }
            &.td-type-2{
              color: @white;
              background-color: #96C3CC;
            }
            &.td-type-3{
              color: @blue-base;
              background-color: #D8EDF7;
            }
            &.td-type-4{
              color: @blue-base;
              background-color: #D9EBEE;
            }
            &.width-11{
              width: 11%;
              text-align: center;
            }
            .rotate{
              transform: rotate(90deg);
            }
          }

          .text-center{
            text-align: center;
          }
        }
      }
    }
    .footer-text{
      padding: 15px 0 0 5px;

      p{
        font-size: 13px;
        color: @blue-base
      }
    }
  }
}


/*Katudozisseki2 content*/
#katudozisseki2-content{
  .top-content{
    padding: 65px 0px;
    text-align: center;
    .border-bottom-dash;

    a{
      font-size: 15px;
      color: #27BAEE;
    }
    p{
      letter-spacing: 3px;

      &:first-child{
        margin-bottom: 20px;
      }
    }
  }
  .main-content{
    .container{
      padding: 0 110px;
    }
    .table-item{
      padding: 45px 0px;
      .border-bottom-dash;

      .title{
        font-size: 18px;
        color: @blue-base;
        margin-bottom: 30px;
      }
      table{
        width: 100%;
        font-size: 16px;
        color: @blue-base;

        tr{
          @border: 1px solid @blue-base;
          @padding: 20px;

          th{
            border: @border;
            text-align: center;
            padding: @padding;
          }
          td{
            border: @border;
            padding: @padding;
            vertical-align: top;

            &.td-type-1{
              background-color: @blue-light;
            }

            &.text-right{
              text-align: right;
            }
          }

        }
      }
    }
  }
  .wrap-pagination{
    padding: 0 110px;

    .pagination{
      font-size: 14px;
      color: @blue-base;
      padding: 25px 160px;
      display: flex;
      justify-content: space-between;

      .page-number{

      }
      .page-list{

        ul{
          position: relative;
          li{
            display: inline-block;

            a{
              padding: 2px 10px;
              border: 1px solid @blue-base;
              color: @blue-base;
            }
          }
          &:before{
            content: url(../images/arrow-left.svg);
            display: block;
            height: 10px;
            width: 10px;
            top: 50%;
            margin-top: -10px;
            left: -25px;
            position: absolute;
          }
          &:after{
            content: url(../images/arrow-right.svg);
            display: block;
            height: 10px;
            width: 10px;
            top: 50%;
            margin-top: -10px;
            right: -25px;
            position: absolute;
          }
        }
      }
    }
  }
  .bottom-content{
    padding: 55px 0px 80px;
    text-align: center;

    a{
      font-size: 15px;
      color: #27BAEE;
    }
    p{
      letter-spacing: 3px;

      &:first-child{
        margin-bottom: 20px;
      }
    }
  }
}


